 <!-- nav bar begins here -->
 <nav>
    <div class="menu-icon">
        <span class="fas fa-bars"></span>
    </div>
    <div class="logo">
      <a href="/home">Anvies</a> 
    </div>
    <div class="nav-items">
        <li><a href="/index">Movies</a></li>
        <li><a href="#">TV Shows</a></li>
        <li><a href="#">Animes</a></li>
        <li><a href="#">Documentries</a></li>
        <li><a href="#">Watchlist</a></li>
    </div>
    <div class="search-icon">
        <span class="fas fa-search"></span>
    </div>
   <div></div>
    <form action="#">
        <input type="search" class="search-data" placeholder="Search" required>
        <button type="submit" class="fas fa-search"></button>
    </form>
     <button><a href="">Login</a></button>
    
</nav>
<!-- nav bar ends here -->