<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
   <link rel='stylesheet' href='/stylesheets/review-form.css' />
   <title>Specific Page</title>
</head>



<body>

      <!-- nav bar begins here -->
   <nav>
    <div class="menu-icon">
       <span class="fas fa-bars"></span>
    </div>
    <div class="logo">
       Anvies
    </div>
    <div class="nav-items">
       <li><a href="#">Movies</a></li>
       <li><a href="#">TV Shows</a></li>
       <li><a href="#">Animes</a></li>
       <li><a href="#">Documentries</a></li>
       <li><a href="#">Watchlist</a></li>
    </div>
    <div class="search-icon">
       <span class="fas fa-search"></span>
    </div>

    <form action="#">
       <input type="search" class="search-data" placeholder="Search" required>
       <button type="submit" class="fas fa-search"></button>
    </form>
 </nav>
 <!-- nav bar ends here -->

    <form class="review" action="/submit-review" method="post">
        <div class="form-group">
          <label for="exampleFormControlInput1">Username</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" name="username" placeholder="Username here">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Ratings</label>
          <select class="form-control" id="exampleFormControlSelect1" name="rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Reviews</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
       
      </form> 
</body>
</html>

