<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

   <link rel='stylesheet' href='/stylesheets/review-form.css' />
   <link rel='stylesheet' href='/stylesheets/footer.css' />
   <title>Review Form</title>
</head>



<body>
   
<%- include navbar.ejs %>

   <form class="review" action="/submit-review/<%= movie_id %>" method="post">
      <div class="form-group">
         <label for="exampleFormControlInput1">Username</label>
         <input type="text" class="form-control" id="exampleFormControlInput1" name="userName"
            placeholder="Username here">
      </div>
      <div class="form-group">
         <label for="exampleFormControlSelect1">Ratings</label>
         <select class="form-control" id="exampleFormControlSelect1" name="rating">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
         </select>
      </div>

      <div class="form-group">
         <label for="exampleFormControlTextarea1">Reviews</label>
         <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review"></textarea>
      </div>
      <br>
      <button type="submit" class="btn btn-primary" style="background-color:#FB8B24;">Post</button>

   </form>
   <%- include footer.ejs %>
</body>

</html>