body {
  color: #FFFCF2;
  font-family:  "Lato",sans-serif;
  background-color: #343A40;

}




.container {
  max-width: 1440px;
  margin: 36px 120px;
}
.card{background-color: #1e232b;
      margin:8px 40px;
  }



.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  

}

.grid-item {
  height: 550px;
  flex-basis: 20%;
  width: 259px;
  position: relative;
  padding: 100px;
  box-sizing: border-box;
}

