body {
  color: #FFFCF2;
  font-family:  "Lato",sans-serif;
  background-color: #343A40;

}

nav{
  background: #4A535B;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
 
  padding: 0 120px;
}
nav .logo{
  color:#FB8B24 ;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
}
nav .nav-items{
  display: flex;

  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color:  #FFFCF2;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #FB8B24;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color:  #FFFCF2;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  color:  #FFFCF2;
  font-size: 17px;
  background: #FB8B24;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color:  #FFFCF2;
  cursor: pointer;
  display: none;
}



.container {
  max-width: 1440px;
  margin: 36px 120px;
}
.card{background-color: #1e232b;
      margin:8px 40px;
  }



.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  

}

.grid-item {
  height: 550px;
  flex-basis: 20%;
  width: 259px;
  position: relative;
  padding: 100px;
  box-sizing: border-box;
}



@media(max-width: 1073px) {
   .grid-item {
    flex-basis: 33.33%;
  }
}
@media(max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
}
@media(max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
  }
}